<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Patient Profile</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">  </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td> <b>Personal Information: </b></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>patient name:</td>
                        <td> Amir Mostafa</td>
                      </tr>
                      <tr>
                        <td>Age:</td>
                        <td>20</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender:</td>
                        <td> M</td>
                      </tr>
                        <tr>
                        <td>Address:</td>
                        <td>cairo</td>
                      </tr>
                      <tr>
                        <td>Mobile:</td>
                        <td>555555</td>
                      </tr>
                        <td>Job:</td>
                        <td> h </td>
                           
                      </tr>
                     
                       </tr>
                        <td>Marital Status:</td>
                        <td> s </td>
                           
                      </tr>
                     
                      </tr>
                        <td> <b > Medical Information:</b></td>
                        <td> </td>
                           
                      </tr>

                      </tr>
                        <td>latest surgery date:</td>
                        <td> Yes:  <input type="checkbox" name="yes" value="yes">  No:<input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                     
                      </tr>
                        <td>suffer from any kidney ,lungs , heart ,blood presure disease?</td>
                        <td> Yes:  <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                       </tr>
                        <td>had blood transfer befor?</td>
                        <td>  Yes: <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                     </tr>
                        <td>catch virus C or B before ?</td>
                        <td>  Yes: <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                      </tr>
                        <td>take any medicines or drugs now ?</td>
                        <td>  Yes: <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                      </tr>
                        <td>your latest visite to the dentist ?</td>
                        <td> Yes:  <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>

                     
                       </tr>
                        <td>had a tooth filling before ?</td>
                        <td>  Yes: <input type="checkbox" name="yes" value="yes"> No: <input type="checkbox" name="no" value="no"> </td>
                           
                      </tr>
                     
                     
                     
                    </tbody>
                  </table>
                  
                  
                  <a href="#" class="btn btn-primary" style="width:140px">Edit</a>
                 
                  <a href="#" class="btn btn-primary" style="width:140px"> Homepage</a>
                </div>
              </div>
            </div>
                
            
          </div>
        </div>
      </div>
    </div>  