<div class='user-homepage-container'>
  <h2>Welcome Dr. {{name}}</h2>

  <section class='user-homepage-buttons'>
    <div class='row justify-content-around mb-5'>
      <div class='col-3'>
        <a href='/patient/register' class='action-button'>
          <span>Patient register</span></a>
      </div>

      <div class='col-3'>
        <a href='/patient/all' class='action-button'>
          <span>Patient list</span>
        </a>
      </div>

      <div class='col-3'>
        <a href='/patient/all' class='action-button'>
          <span>Patient list</span>
        </a>
      </div>
    </div>
  </section>

</div>
