<container class='index_body'>
  <h2>Welcome {{userName}}</h2>

  <a href='/patient/register'>
    patient register</a>

  {{! <button>
  Diagnosis
</button> }}

  <a href='/patient/all'>
    Patient list
  </a>

  <button>
    Doctors
  </button>
</container>
