.user-homepage-buttons {
  margin-top: 100px;
}

.action-button {
  display: flex;
  height: 300px;
  background-color: #a79d9d;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.logout-button {
  border-color: red;
  display: flex;
  justify-content: right;
}
