.user-homepage-buttons {
  margin-top: 100px;
}

.action-button {
  display: flex;
  width: 290px;
  height: 120px;
  background-color: #778da9;
  border-radius: 15px;
  align-items: center;
  border-color: #0d1b2a;
  color: #e0e1dd;
  justify-content: center;
}

.user-homepage-header {
  margin-top: 20px;
  font-family: 'Monaco', monospace;
  color: #1b263b;
}

.custom-container {
  width: 80%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
